<html>
    <body bgcolor=#d4a3ae>
        <center>
        <h1> Iris Flower Prediction </h1><br>
        <form method="POST", action="{{url_for('one')}}">
            <b> 
            SepalLengthCm :<input type="text", name='SepalLengthCm', placeholder="enter value"> <br><br>
            SepalWidthCm :<input type="text", name='SepalWidthCm', placeholder="enter value"> <br><br>
            PetalLengthCm :<input type="text", name='PetalLengthCm', placeholder="enter value"> <br><br>
            PetalWidthCm :<input type="text", name='PetalWidthCm', placeholder="enter value"> <br><br>
            </b>
            <input type="submit" , value='Flower Prediction' >
        </form>
        </center>
    </body>
</html>